{% extends "base.html" %}
{% block content %}
{% if session.user_id %}
<h1>Create a New Post</h1>
<br>
<form name="create_post" method="post">
    {{ form.hidden_tag() }}

    <!-- Country Code Input with Dropdown -->
    <div class="form-group position-relative">
        {{ form.country_code.label }}
        <input type="text" class="form-control" id="country-code-input" name="country_code" placeholder="Search Country Code">
        {{ form.country_code(class_='list-group position-absolute w-100 d-none',id="country-code-dropdown",style="max-height: 150px; overflow-y: auto; z-index: 1000;") }}
        {% for error in form.country_code.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Phone Number Field -->
    <div class="form-group">
        {{ form.phone_number.label }}
        {{ form.phone_number(class_='form-control', placeholder='Enter phone number here') }}
        {% for error in form.phone_number.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Title Field -->
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class_='form-control', placeholder='Enter title here') }}
        {% for error in form.title.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Description Field -->
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class_='form-control', placeholder='Enter description here') }}
        {% for error in form.description.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Create Post</button>
</form>
{% else %}
   <h1>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('signup') }}">signup</a> to create a Post.</h1>
{% endif %}
<script src="{{ url_for('static', filename='/utils.js') }}"></script>
<script src="{{ url_for('static', filename='/create.js') }}"></script>

{% endblock %}
