{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Edit Comments</h2>
    <form method="POST" action="{{ url_for('edit_post', id=post.id) }}">
        {{ form.hidden_tag() }}

        <h5 class="mb-2">{{ post.country_code }} {{ post.phone_number }}</h5>

        <!-- Title Field -->
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class_='form-control', placeholder='Enter title here') }}
            {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}
        </div>

        <!-- Description Field -->
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class_='form-control', placeholder='Enter description here') }}
            {% for error in form.description.errors %}
            <div class="alert alert-danger" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}
        </div>


        <button type="submit" class="btn btn-primary mt-3">Update Assessment</button>
        <a href="/" class="btn btn-secondary mt-3">Cancel</a>
    </form>
</div>
{% endblock %}
