{% extends "base.html" %}
{% block content %}
<h1>Signup</h1>
<br>
<form name="signup" method="post">
    {{ form.hidden_tag() }}

    <!-- Username Field -->
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_='form-control', placeholder='Enter username') }}
        {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Email Field -->
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class_='form-control', placeholder='Enter email') }}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Password Field -->
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_='form-control', placeholder='Enter password') }}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>
    <!-- Confirm Password Field -->
    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class_='form-control', placeholder='Re-enter password') }}
        {% for error in form.confirm_password.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Signup</button>
</form>
{% endblock %}
