{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<br>
<form name="login" method="post">
    {{ form.hidden_tag() }}

    <!-- Email Field -->
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class_='form-control', placeholder='Enter email') }}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Password Field -->
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_='form-control', placeholder='Enter password') }}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            [{{ error }}]
        </div>
        {% endfor %}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
